/* Custom text Color */
.text-yellow {
    color: var(--bs-side-bar);
}

.text-ube {
    color: var(--bs-exodus);
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #dfe6e9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b2bec3;
    /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #bdc3c7;
}

.guest-wrapper {
    overflow-y: auto;
    max-height: 530px;
    padding: 5px;
}

/* width */
.guest-wrapper::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
.guest-wrapper::-webkit-scrollbar-thumb {
    background: #b2bec3;
    border-radius: 10px;
}

/* Handle on hover */
.guest-wrapper::-webkit-scrollbar-thumb:hover {
    background: #bdc3c7;
}

.counter-danger {
    width: 28px;
    height: 25px;
    background: #e74c3c;
    display: inline-block;
}

.counter-success {
    width: 28px;
    height: 25px;
    background: #78e08f;
    display: inline-block;
}

.counter-primary {
    width: 28px;
    height: 25px;
    background: #7caaff;
    display: inline-block;
}

.counter-danger-text {
    font-size: 20px;
    color: #e74c3c;
    font-weight: 500;
}

.counter-text {
    font-size: 20px;
    font-weight: 500;
}

/*Cards*/
.card {
    border-radius: 10px;
    border: none;
}

.guest .card-body {
    display: flex;
    align-items: center;
}

.card-danger {
    background: #e74c3c;
}

.card-success {
    background: #78e08f;
}

.card-primary {
    background: #70a1ff;
}

.card-secondary {
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-info {
    background: #e2ebfd;
}

.card-avatar {
    width: 100px;
    /* display: inline-block; */
}

.card .card-text h5 {
    /* display: inline-block; */
    color: #fff;
}

.card .card-text .btn-checkout {
    background: #f1c40f;
    font-size: 13px;
    font-weight: 600;
    padding: 2px 10px 3px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.card .card-text .btn-extend {
    background: #67c48d;
    font-size: 13px;
    font-weight: 600;
    padding: 2px 10px 3px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.card .card-text .btn-checkout:hover,
.card .card-text .btn-extend:hover {
    opacity: 0.8;
}

.card-package {
    background: #f1c40f;
    padding: 8px 10px 2px 5px;
    margin-left: -10px;
}

.card-details .start {
    background: #2ecc71;
    padding: 2px 7px 3px 7px;
    border-radius: 5px;
    color: #fff;
}

.card-details .end {
    background: #e74c3c;
    padding: 2px 7px 3px 7px;
    border-radius: 5px;
    color: #fff;
}

.btn-package-primary {
    background: #8F3F96;
    border: none;
    padding: 5px 10px 6px 10px;
    width: 100%;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 5px;
}

.btn-package-primary span {
    color: #f1c40f;
}

.btn-package-secondary {
    background: #7f8c8d;
    border: none;
    padding: 5px 10px 6px 10px;
    width: 100%;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 5px;
}

.btn-package-primary:hover,
.btn-package-secondary:hover {
    opacity: 0.9;
}

/* =============================== */
/* Login Section */
/* =============================== */
.login-section {
    box-shadow: 1px 2px 80px 2px rgba(102, 101, 101, 0.38);
    -webkit-box-shadow: 1px 2px 80px 2px rgba(102, 101, 101, 0.38);
    -moz-box-shadow: 1px 2px 80px 2px rgba(102, 101, 101, 0.38);
    background: #fff;
    width: 500px;
    border-radius: 5px;
    margin: 0 !important;
    padding: 0 !important;
}

.login-header {
    background: var(--bs-orange);
    height: 25px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.login-header-details p {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: -5px;
}

.login-header-details div {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: -5px;
    color: var(--bs-green);
}

.login-header-details img {
    width: 80%;
}

.login-header-details h5 {
    font-size: 35px;
    font-weight: 800;
    color: var(--bs-purple);
}

.login-form {
    padding: 30px;
}

.login-form input {
    border: 3px solid #bdc3c7;
    border-radius: 8px;
}

.login-form button {
    width: 100%;
    border: none;
    background: var(--bs-orange);
    color: #fff;
    padding: 5px;
    font-size: 23px;
    font-weight: 500;
    border-radius: 50px;
}

.login-footer p {
    font-size: 14px;
    font-weight: 600;
}

@media (max-width: 1199px) {
    .title-footer {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .login-title {
        margin-top: 0px;
    }
}


/* =============================== */
/* End of Login Section */
/* =============================== */

/* custom table */
.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px 0 0 !important;
}

.table thead tr {
    background-color: var(--bs-exodus);
    color: #ffffff;
    padding: 4px 10px;
    vertical-align: middle;
}

.table th {
    padding: 4px 10px;
    vertical-align: middle;
}

.table td {
    padding: 4px 10px;
    vertical-align: middle;
    color: #636e72;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid var(--bs-exodus);
}

.table tbody tr.active-row {
    font-weight: bold;
    color: var(--bs-exodus);
}

.page-item.active .page-link {
    color: #fff !important;
    background-color: var(--bs-exodus) !important;
    border-color: var(--bs-exodus) !important;
}

.page-link {
    color: var(--bs-exodus) !important;
    background-color: #fff !important;
    border: 1px solid var(--bs-exodus) !important;
}

.page-link:hover {
    color: #fff !important;
    background-color: var(--bs-exodus) !important;
    border-color: var(--bs-exodus) !important;
}

.main-section {
    margin-top: -40px;
    background: var(--bs-exodus);
    max-height: 100vh;
}

.btn-signout {
    text-decoration: none;
    background: var(--bs-side-bar);
    color: #1e272e;
    padding: 5px 10px 5px 10px;
    font-weight: 500;
    font-size: 13px;
    border-radius: 5px;
}

.btn-signout:hover {
    color: #1e272e;
    opacity: 0.8;
}

.btn-ube {
    background: var(--bs-exodus);
    color: #fff;
    font-weight: 500;
}

.btn-leche {
    background: var(--bs-side-bar);
    color: #1e272e;
    font-weight: 500;
}

.btn-ube:hover {
    opacity: 0.9;
    color: #fff;
}

.btn-leche:hover {
    opacity: 0.9;
    color: #1e272e;
}

.table-holder {
    background: rgba(179, 232, 253, 0.5);
    padding: 20px;
    border-radius: 10px;
}

/* Services Offered */

.inflatables {
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 10px;
}

.inflatables .img-icon {
    margin-top: -90px;
    width: 100%;
}

.btn-div {
    padding: 5px 25px 20px 25px;
}

.btn-register {
    width: 100%;
    background: var(--bs-red);
    border: 3px solid #fff;
    color: #fff;
    font-size: 25px;
    padding: 15px;
    border-radius: 8px;
}

.park {
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 10px;
}

.park .img-icon {
    margin-top: -90px;
    width: 100%;
}

.pricing-header {
    background: var(--bs-lightgreen);
    padding: 5px;
}

.pricing-section {
    background: rgba(255, 255, 255, 0.5);
    padding-bottom: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* End Services Offered */

.header-section {
    background: var(--bs-purple);
    height: 120px;
    /* margin-top: 15px; */
    margin-bottom: 5px;
    padding: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header-section h5 {
    color: var(--bs-yellow);
    font-size: 25px;
}

.header-section p {
    color: #fff;
}

.sub-header-section {
    background: var(--bs-purple);
    height: 60px;
    /* margin-top: 15px; */
    margin-bottom: 5px;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sub-header-section h5 {
    color: var(--bs-yellow);
    font-size: 25px;
}

.reg-form {
    padding: 20px;
}

.reg-form input,
.reg-form select {
    border: 2px solid #bdc3c7;
    border-radius: 6px;
}

.reg-section {
    box-shadow: 1px 2px 80px 2px rgba(102, 101, 101, 0.38);
    -webkit-box-shadow: 1px 2px 80px 2px rgba(102, 101, 101, 0.38);
    -moz-box-shadow: 1px 2px 80px 2px rgba(102, 101, 101, 0.38);
    border-radius: 5px;
    background: #fff;
    margin: auto;
    width: 500px;
}

.reg-section .save_record {
    background: var(--bs-lightgreen);
    border: none;
    width: 100%;
    padding: 20px;
    font-weight: 700;
    border-radius: 5px;
}

.img-holder {
    margin: auto;
    width: 500px;
}

.img-holder img {
    width: 100%;
}

.float {
    position: fixed;
    height: 60px;
    bottom: 400px;
    right: 470px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

.float img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

@media(max-width:666px) {
    .float {
        display: none;
    }
}

.text-header {
    font-size: 12px;
    font-weight: 600;
}

.box-section {
    background: var(--bs-bg);
    padding: 8px;
    border-radius: 8px;
}

.box-header {
    background: var(--bs-yellow);
    font-size: 25px;
    font-weight: 600;
    padding: 2px 10px;
    margin-bottom: 10px;
}

.box-section input,
.box-section select {
    border: 2px solid #bdc3c7;
    border-radius: 8px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    /* opacity: 0.7; */
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 150;
}

#loading-image {
    position: absolute;
    margin-right: -50px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;

}

.text-orange {
   color: #d35400;
}

.text-green {
    color: var(--bs-lightgreen);
}

.box-img {
    width: 100px;
    height: 100px;
    border: 3px solid #7f8c8d;
    border-radius: 50px;
}

.btn-rounded {
    border-radius: 100px;
}


.accordion-body {
    overflow-y: auto;
    max-height: 500px;
    padding: 5px;
}

/* width */
.accordion-body::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
.accordion-body::-webkit-scrollbar-thumb {
    background: #b2bec3;
    border-radius: 10px;
}

/* Handle on hover */
.accordion-body::-webkit-scrollbar-thumb:hover {
    background: #bdc3c7;
}

/*--------------------------------------------------------------
# Checkbox slider
--------------------------------------------------------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 18px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked+.slider {
    background-color: #2196F3;
  }
  
  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .remove_row {
    color: var(--bs-red);
    cursor: pointer;
  }
  .remove_row:hover{
    text-decoration: underline;
  }